## Advanced text mining with Python - Topic Modeling

In [1]:
#!pip install gensim

In [2]:
import sys
print(sys.version)

3.5.4 |Anaconda custom (64-bit)| (default, Aug 14 2017, 13:41:13) [MSC v.1900 64 bit (AMD64)]

In [3]:
import time
import math
import re
from textblob import TextBlob
import pandas as pd

import nltk as nltk
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

import string

import warnings
warnings.filterwarnings(action='ignore', category=UserWarning, module='gensim')

import gensim
from gensim import corpora, models

In [4]:
directory = 'C://Users//Nick//Documents//Teaching//Data Projects//Text//Tweets//'
#file = 'jeep.txt'
file = 'jeep_new.txt'
path = directory + file

In [5]:
tweets = pd.read_csv(path,sep='\t', names = ['id', 'lang', 'created_at', 'screen_name', \
                                                       'name', 'location', 'retweet_count', 'text'])

In [6]:
tweets.count()

id               68921
lang             68921
created_at       68921
screen_name      68921
name             68921
location         46879
retweet_count    68921
text             68921
dtype: int64

In [7]:
tweets.head(10)

,id,lang,created_at,screen_name,name,location,retweet_count,text
0,9.222399e+17,en,Sun Oct 22 23:15:03 +0000 2017,alyssa_rose4,Princess Alyssa‚ôõ,"Chicago, IL",0.0,@Rachel_31297 where‚Äôs the Jeep Wrangler option
1,9.222399e+17,en,Sun Oct 22 23:15:09 +0000 2017,negocialoya_us,NegocialoYa USA,Estados Unidos,0.0,Check this out: 2016 JEEP PATRIOT LATITUDE 4X4...
2,9.222400e+17,tl,Sun Oct 22 23:15:14 +0000 2017,Jasmne_abr,Jas,blueberry,0.0,Kadugay sa jeep
3,9.222400e+17,en,Sun Oct 22 23:15:15 +0000 2017,JFCO38,JUAN FCO,NaN,0.0,RT @Jeep: The Grand Cherokee Trackhawk is offi...
4,9.222400e+17,tl,Sun Oct 22 23:15:15 +0000 2017,MaestreRaymond,Jin Rae Min,Northern Mindanao,0.0,Kadugay mularga sa jeep nga kadali koüò¨üò≠
5,9.222400e+17,tl,Sun Oct 22 23:15:21 +0000 2017,troyxaquino,Troy,NaN,0.0,Bang luluwag ng mga jeep hahaha
6,9.222400e+17,en,Sun Oct 22 23:15:27 +0000 2017,LifeForTrucker,TruckerForLife‚Ñ¢,United States,0.0,RT @Jeep: Power stance. https://t.co/kl0oC8Xvof
7,9.222400e+17,en,Sun Oct 22 23:15:30 +0000 2017,rpx53,Rod O|||||||O,Where the blacktop ends,0.0,"@THEJeepMafia @Jeep Thanks, 28¬∞ but Chaos and ..."
8,9.222400e+17,tl,Sun Oct 22 23:15:34 +0000 2017,ronneldash,üè≥Ô∏è‚ÄçüåàROXüè≥Ô∏è‚Äçüåà,St. Paul,0.0,tangina mula 6:00 nasa sakayan ako tas 7:30 na...
9,9.222401e+17,tl,Sun Oct 22 23:15:49 +0000 2017,FayeUsi,aria,"Las Pinas City, National Capit",0.0,@Dncyngs ikaw yung nakakasabay ko lagi sa jeep...

In [8]:
# Filter non-English tweets
tweets_eng = tweets[tweets['lang']=='en'].reset_index(drop=True)

In [9]:
# Remove special characters to avoid problems with analysis
tweets_eng['text_clean'] = tweets_eng['text'].map(lambda x: re.sub('[^a-zA-Z0-9 @ . , : - _]', '', str(x)))

In [10]:
pd.set_option('display.max_colwidth', 100)
tweets_eng[['text', 'text_clean']].head(5)

,text,text_clean
0,@Rachel_31297 where‚Äôs the Jeep Wrangler option,@Rachel_31297 wheres the Jeep Wrangler option
1,Check this out: 2016 JEEP PATRIOT LATITUDE 4X4 - $8500 (MIAMI-DADE) 8500.00 USD https://t.co/akP...,Check this out: 2016 JEEP PATRIOT LATITUDE 4X4 8500 MIAMIDADE 8500.00 USD https:t.coakPkANPpEn ...
2,RT @Jeep: The Grand Cherokee Trackhawk is officially in production. Keep your eyes peeled for on...,RT @Jeep: The Grand Cherokee Trackhawk is officially in production. Keep your eyes peeled for on...
3,RT @Jeep: Power stance. https://t.co/kl0oC8Xvof,RT @Jeep: Power stance. https:t.cokl0oC8Xvof
4,"@THEJeepMafia @Jeep Thanks, 28¬∞ but Chaos and Bear were awesome feet warmers! üêæüêæ https://t.co/nN...","@THEJeepMafia @Jeep Thanks, 28 but Chaos and Bear were awesome feet warmers https:t.conNIoaRVXlW"

## Topic Modeling
#### Topics can be defined as ‚Äúa repeating pattern of co-occurring terms in a corpus‚Äù

### TF-IDF (term frequency‚Äìinverse document frequency)

#### Using TextBlob functionality to create TF-IDF function for our select Tweets

In [11]:
# http://stevenloria.com/finding-important-words-in-a-document-using-tf-idf/

def tf(word, blob):
    return blob.words.count(word) / len(blob.words)
# tf(word, blob) computes "term frequency" which is the number of times a word appears in a document blob, 
# normalized by dividing by the total number of words in blob. We use TextBlob for breaking up the text into words 
# and getting the word counts.


def n_containing(word, bloblist):
    return sum(1 for blob in bloblist if word in blob.words)
# n_containing(word, bloblist) returns the number of documents containing word. 
# A generator expression is passed to the sum() function.


def idf(word, bloblist):
    return math.log(len(bloblist) / (1 + n_containing(word, bloblist)))
# idf(word, bloblist) computes "inverse document frequency" which measures how common a word is 
# among all documents in bloblist. The more common a word is, the lower its idf. 
# We take the ratio of the total number of documents to the number of documents containing word, 
# then take the log of that. Add 1 to the divisor to prevent division by zero


def tfidf(word, blob, bloblist):
    return tf(word, blob) * idf(word, bloblist)
# tfidf(word, blob, bloblist) computes the TF-IDF score. It is simply the product of tf and idf.

In [12]:
bloblist = []
del bloblist[:]

for i  in range(0,len(tweets_eng)):
    bloblist.append(TextBlob(tweets_eng['text_clean'].iloc[i]))
    
len(bloblist)

40704

In [13]:
for i, blob in enumerate(bloblist):
# Print top 5 values
    if i == 5:
        break
    print("Top words in tweet {}".format(i + 1))
    scores = {word: tfidf(word, blob, bloblist) for word in blob.words}
    sorted_words = sorted(scores.items(), key=lambda x: x[1], reverse=True)
    for word, score in sorted_words[:5]:
        print("\tWord: {}, TF-IDF: {}".format(word, round(score, 5)))

Top words in tweet 1
	Word: Rachel_31297, TF-IDF: 1.65349
	Word: wheres, TF-IDF: 1.50077
	Word: option, TF-IDF: 1.226
	Word: Wrangler, TF-IDF: 0.38572
	Word: the, TF-IDF: 0.28659
Top words in tweet 2
	Word: t.coL2WaZBsUTf, TF-IDF: 0.58358
	Word: t.coakPkANPpEn, TF-IDF: 0.58358
	Word: 8500.00, TF-IDF: 0.55973
	Word: MIAMIDADE, TF-IDF: 0.55973
	Word: 8500, TF-IDF: 0.51896
Top words in tweet 3
	Word: t.cobbiPfPXXax, TF-IDF: 0.34509
	Word: peeled, TF-IDF: 0.34191
	Word: wild, TF-IDF: 0.31915
	Word: Keep, TF-IDF: 0.31915
	Word: officially, TF-IDF: 0.31637
Top words in tweet 4
	Word: t.cokl0oC8Xvof, TF-IDF: 0.89363
	Word: stance, TF-IDF: 0.89104
	Word: Power, TF-IDF: 0.85214
	Word: RT, TF-IDF: 0.18822
	Word: Jeep, TF-IDF: 0.06069
Top words in tweet 5
	Word: t.conNIoaRVXlW, TF-IDF: 0.70864
	Word: warmers, TF-IDF: 0.65913
	Word: Chaos, TF-IDF: 0.63017
	Word: Bear, TF-IDF: 0.60962
	Word: feet, TF-IDF: 0.56011

## LDA (latent dirichlet allocation)
#### LDA is a matrix factorization technique, which assumes documents are produced from a mixture of topics. Those topics then generate words based on their probability distribution.

In [14]:
#https://www.analyticsvidhya.com/blog/2016/08/beginners-guide-to-topic-modeling-in-python/

In [15]:
doc1 = "BMW upbeat sustained sales growth"
doc2 = "Ad wars When BMW Audi Mercedes Benz Jaguar prove prowess throughadvertisements"
doc3 = "BMW Protonic Frozen Yellow Edition Looks So Cool"
doc4 = "Judge Shuts Door On SoftClose Defect Suit Against BMW Law"
doc5 = "Just Listed BMW Alpina B Turbo Automobile Magazine"
doc6 = "How take part BMW Ultimate Driving Experience"
doc7 = "Long Beach BMW Motorcycles Becomes First BMW Dealer Offer Virtual Reality Experience Virtual Reality Reporter"
doc8 = "NYC Auto Show BMW M Performance Video Overview"
doc9 = "BMW F X Spy video shows SUV stress test"
doc10 = "Driver taken hospital BMW smashes tree Stourbridge Express Star"

# compile documents
doc_complete = [doc1, doc2, doc3, doc4, doc5, doc6, doc7, doc8, doc9, doc10]

In [16]:
stop = set(stopwords.words('english'))
exclude = set(string.punctuation)
lemma = WordNetLemmatizer()
def clean(doc):
    stop_free = " ".join([i for i in doc.lower().split() if i not in stop])
    punc_free = ''.join(ch for ch in stop_free if ch not in exclude)
    normalized = " ".join(lemma.lemmatize(word) for word in punc_free.split())
    return normalized

doc_clean = [clean(doc).split() for doc in doc_complete]

In [17]:
# Creating the term dictionary of our courpus, where every unique term is assigned an index. 
dictionary = corpora.Dictionary(doc_clean)

# Converting list of documents (corpus) into Document Term Matrix using dictionary prepared above.
doc_term_matrix = [dictionary.doc2bow(doc) for doc in doc_clean]

In [18]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel

In [19]:
# Running and Trainign LDA model on the document term matrix.
%time ldamodel = Lda(doc_term_matrix, num_topics=3, id2word = dictionary, passes=50) #3 topics
print(*ldamodel.print_topics(num_topics=3, num_words=3), sep='\n\n')

Wall time: 880 ms
(0, '0.075*"bmw" + 0.052*"reality" + 0.052*"virtual"')

(1, '0.062*"bmw" + 0.036*"show" + 0.036*"video"')

(2, '0.092*"bmw" + 0.019*"jaguar" + 0.019*"war"')

In [20]:
%time ldamodel = Lda(doc_term_matrix, num_topics=5, id2word = dictionary, passes=50) #5 topics
print(*ldamodel.print_topics(num_topics=5, num_words=5), sep='\n\n')

Wall time: 820 ms
(0, '0.083*"bmw" + 0.057*"virtual" + 0.057*"reality" + 0.031*"motorcycle" + 0.031*"long"')

(1, '0.083*"bmw" + 0.057*"video" + 0.057*"show" + 0.031*"x" + 0.031*"spy"')

(2, '0.095*"bmw" + 0.036*"law" + 0.036*"door" + 0.036*"judge" + 0.036*"softclose"')

(3, '0.061*"experience" + 0.061*"ultimate" + 0.061*"part" + 0.061*"take" + 0.061*"driving"')

(4, '0.058*"cool" + 0.058*"protonic" + 0.058*"yellow" + 0.058*"look" + 0.058*"edition"')

### Applying LDA to tweets

In [21]:
tweets_list = tweets_eng['text_clean'].tolist()
tweets_list[:5]

['@Rachel_31297 wheres the Jeep Wrangler option',
 'Check this out: 2016 JEEP PATRIOT LATITUDE 4X4  8500 MIAMIDADE 8500.00 USD https:t.coakPkANPpEn ads https:t.coL2WaZBsUTf',
 'RT @Jeep: The Grand Cherokee Trackhawk is officially in production. Keep your eyes peeled for one in the wild. https:t.cobbiPfPXXax',
 'RT @Jeep: Power stance. https:t.cokl0oC8Xvof',
 '@THEJeepMafia @Jeep Thanks, 28 but Chaos and Bear were awesome feet warmers  https:t.conNIoaRVXlW']

In [22]:
stop = set(stopwords.words('english'))
exclude = set(string.punctuation)
lemma = WordNetLemmatizer()
def clean(doc):
    stop_free = " ".join([i for i in doc.lower().split() if i not in stop])
    punc_free = ''.join(ch for ch in stop_free if ch not in exclude)
    normalized = " ".join(lemma.lemmatize(word) for word in punc_free.split())
    return normalized

tweet_clean = [clean(doc).split() for doc in tweets_list]

In [23]:
print(*tweet_clean[:3], sep='\n\n')

['rachel31297', 'wheres', 'jeep', 'wrangler', 'option']

['check', 'out', '2016', 'jeep', 'patriot', 'latitude', '4x4', '8500', 'miamidade', '850000', 'usd', 'httpstcoakpkanppen', 'ad', 'httpstcol2wazbsutf']

['rt', 'jeep', 'grand', 'cherokee', 'trackhawk', 'officially', 'production', 'keep', 'eye', 'peeled', 'one', 'wild', 'httpstcobbipfpxxax']

In [24]:
# Creating the term dictionary of our courpus, where every unique term is assigned an index. 

dictionary = corpora.Dictionary(tweet_clean)

# Converting list of documents (corpus) into Document Term Matrix using dictionary prepared above.

%time doc_term_matrix = [dictionary.doc2bow(doc) for doc in tweet_clean]

Wall time: 750 ms

In [25]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel

# Running and Trainign LDA model on the document term matrix.
%time ldamodel = Lda(doc_term_matrix, num_topics=10, id2word = dictionary, passes=50)

Wall time: 28min 20s

In [26]:
print(*ldamodel.print_topics(num_topics=10, num_words=3), sep='\n\n')

(0, '0.082*"jeep" + 0.025*"rt" + 0.014*"amp"')

(1, '0.103*"giveaway" + 0.059*"girl" + 0.058*"win"')

(2, '0.093*"jeep" + 0.035*"rt" + 0.014*"credit"')

(3, '0.067*"jeep" + 0.037*"wrangler" + 0.029*"via"')

(4, '0.129*"jeep" + 0.093*"rt" + 0.020*"luxbucketlist"')

(5, '0.090*"jeep" + 0.078*"rt" + 0.021*"jeepporn"')

(6, '0.118*"jeep" + 0.050*"wrangler" + 0.036*"cherokee"')

(7, '0.069*"jeep" + 0.019*"new" + 0.013*"rt"')

(8, '0.071*"jeep" + 0.024*"rt" + 0.016*"dodge"')

(9, '0.086*"jeep" + 0.035*"used" + 0.032*"photo"')

In [27]:
print(*ldamodel.print_topics(num_topics=10, num_words=5), sep='\n\n')

(0, '0.082*"jeep" + 0.025*"rt" + 0.014*"amp" + 0.014*"like" + 0.010*"dont"')

(1, '0.103*"giveaway" + 0.059*"girl" + 0.058*"win" + 0.058*"jeep" + 0.053*"small"')

(2, '0.093*"jeep" + 0.035*"rt" + 0.014*"credit" + 0.013*"photo" + 0.013*"got"')

(3, '0.067*"jeep" + 0.037*"wrangler" + 0.029*"via" + 0.021*"renegade" + 0.020*"check"')

(4, '0.129*"jeep" + 0.093*"rt" + 0.020*"luxbucketlist" + 0.018*"jeeplife" + 0.018*"need"')

(5, '0.090*"jeep" + 0.078*"rt" + 0.021*"jeepporn" + 0.016*"compass" + 0.014*"make"')

(6, '0.118*"jeep" + 0.050*"wrangler" + 0.036*"cherokee" + 0.022*"grand" + 0.019*"sport"')

(7, '0.069*"jeep" + 0.019*"new" + 0.013*"rt" + 0.009*"car" + 0.008*"2018"')

(8, '0.071*"jeep" + 0.024*"rt" + 0.016*"dodge" + 0.015*"chrysler" + 0.010*"top"')

(9, '0.086*"jeep" + 0.035*"used" + 0.032*"photo" + 0.029*"spotted" + 0.028*"stick"')

In [28]:
print(*ldamodel.print_topics(num_topics=10, num_words=7), sep='\n\n')

(0, '0.082*"jeep" + 0.025*"rt" + 0.014*"amp" + 0.014*"like" + 0.010*"dont" + 0.009*"get" + 0.009*"im"')

(1, '0.103*"giveaway" + 0.059*"girl" + 0.058*"win" + 0.058*"jeep" + 0.053*"small" + 0.053*"body" + 0.053*"sun"')

(2, '0.093*"jeep" + 0.035*"rt" + 0.014*"credit" + 0.013*"photo" + 0.013*"got" + 0.013*"day" + 0.012*"want"')

(3, '0.067*"jeep" + 0.037*"wrangler" + 0.029*"via" + 0.021*"renegade" + 0.020*"check" + 0.019*"ebay" + 0.016*"decal"')

(4, '0.129*"jeep" + 0.093*"rt" + 0.020*"luxbucketlist" + 0.018*"jeeplife" + 0.018*"need" + 0.017*"life" + 0.016*"matte"')

(5, '0.090*"jeep" + 0.078*"rt" + 0.021*"jeepporn" + 0.016*"compass" + 0.014*"make" + 0.012*"looking" + 0.009*"mean"')

(6, '0.118*"jeep" + 0.050*"wrangler" + 0.036*"cherokee" + 0.022*"grand" + 0.019*"sport" + 0.015*"ebay" + 0.013*"unlimited"')

(7, '0.069*"jeep" + 0.019*"new" + 0.013*"rt" + 0.009*"car" + 0.008*"2018" + 0.008*"man" + 0.008*"cherokee"')

(8, '0.071*"jeep" + 0.024*"rt" + 0.016*"dodge" + 0.015*"chrysler" + 0.010*"top" + 0.008*"ram" + 0.008*"know"')

(9, '0.086*"jeep" + 0.035*"used" + 0.032*"photo" + 0.029*"spotted" + 0.028*"stick" + 0.027*"bamboo" + 0.027*"nigeria"')

In [29]:
print(*ldamodel.print_topics(num_topics=10, num_words=10), sep='\n\n')

(0, '0.082*"jeep" + 0.025*"rt" + 0.014*"amp" + 0.014*"like" + 0.010*"dont" + 0.009*"get" + 0.009*"im" + 0.008*"november" + 0.007*"u" + 0.007*"getting"')

(1, '0.103*"giveaway" + 0.059*"girl" + 0.058*"win" + 0.058*"jeep" + 0.053*"small" + 0.053*"body" + 0.053*"sun" + 0.053*"cross" + 0.052*"chance" + 0.052*"entered"')

(2, '0.093*"jeep" + 0.035*"rt" + 0.014*"credit" + 0.013*"photo" + 0.013*"got" + 0.013*"day" + 0.012*"want" + 0.011*"one" + 0.008*"kylie" + 0.008*"httpstcobvgln4ayie"')

(3, '0.067*"jeep" + 0.037*"wrangler" + 0.029*"via" + 0.021*"renegade" + 0.020*"check" + 0.019*"ebay" + 0.016*"decal" + 0.014*"oracal" + 0.012*"graphic" + 0.012*"vinyl"')

(4, '0.129*"jeep" + 0.093*"rt" + 0.020*"luxbucketlist" + 0.018*"jeeplife" + 0.018*"need" + 0.017*"life" + 0.016*"matte" + 0.013*"black" + 0.012*"better" + 0.012*"beep"')

(5, '0.090*"jeep" + 0.078*"rt" + 0.021*"jeepporn" + 0.016*"compass" + 0.014*"make" + 0.012*"looking" + 0.009*"mean" + 0.008*"even" + 0.008*"combo" + 0.008*"india"')

(6, '0.118*"jeep" + 0.050*"wrangler" + 0.036*"cherokee" + 0.022*"grand" + 0.019*"sport" + 0.015*"ebay" + 0.013*"unlimited" + 0.013*"4x4" + 0.012*"2018" + 0.011*"2017"')

(7, '0.069*"jeep" + 0.019*"new" + 0.013*"rt" + 0.009*"car" + 0.008*"2018" + 0.008*"man" + 0.008*"cherokee" + 0.006*"speed" + 0.006*"ambulance" + 0.006*"cant"')

(8, '0.071*"jeep" + 0.024*"rt" + 0.016*"dodge" + 0.015*"chrysler" + 0.010*"top" + 0.008*"ram" + 0.008*"know" + 0.007*"g" + 0.007*"u" + 0.007*"music"')

(9, '0.086*"jeep" + 0.035*"used" + 0.032*"photo" + 0.029*"spotted" + 0.028*"stick" + 0.027*"bamboo" + 0.027*"nigeria" + 0.027*"hummer" + 0.027*"convey" + 0.022*"rt"')

## TF-IDF on news articles

In [30]:
directory = 'C://Users//Nick//Documents//Teaching//Data Projects//Text//Webhose//'
news_articles = 'news_toyota.pkl'
path = directory+news_articles

In [31]:
news_df = pd.read_pickle(directory+news_articles)

In [32]:
news_df.head(5)

,crawled,language,text,title
0,2018-02-02T04:24:51.072+02:00,english,"QR Code Link to This Post All maintenance receipts available, one owner truck. Cash sale. No tra...",Dependable truck 03 Toyota Tacoma Double Cab $1500
1,2018-02-02T04:27:15.000+02:00,english,"0 \nNEW YORK: Automakers reported mixed US car sales in January, with strong demand for SUVs and...",US car sales mixed in January; trucks stay strong
2,2018-02-02T04:34:00.008+02:00,english,transmission: automatic 2005 Toyota Camry LE 4 door 4 cyl AUTOMATIC VERY CLEAN INSIDE CLOTH IN...,2005 TOYOTA CAMRY LE 167300 MILEAGE $2450 (TALLASSEE) $2450
3,2018-02-02T04:36:42.006+02:00,english,favorite this post Brand New Toyota Avalon Floor Mats - $115 (New Britain) hide this posting unh...,Brand New Toyota Avalon Floor Mats (New Britain) $115
4,2018-02-02T04:38:24.018+02:00,english,more ads by this user QR Code Link to This Post Black w/Piano Black w/Perforated NuLuxe Seat Tri...,2016 Lexus ES 350 (Coliseum Lexus of Oakland) $27772

In [33]:
news_df.shape

(100, 4)

In [34]:
# Filter non-English tweets
news_eng = news_df[news_df['language']=='english'].reset_index(drop=True)

In [35]:
# Remove special characters to avoid problems with analysis
news_eng['text_clean'] = news_eng['text'].map(lambda x: re.sub('[^a-zA-Z0-9 @ . , : - _]', '', str(x)))

In [36]:
pd.set_option('display.max_colwidth', 100)
news_eng[['text', 'text_clean']].head(5)

,text,text_clean
0,"QR Code Link to This Post All maintenance receipts available, one owner truck. Cash sale. No tra...","QR Code Link to This Post All maintenance receipts available, one owner truck. Cash sale. No tra..."
1,"0 \nNEW YORK: Automakers reported mixed US car sales in January, with strong demand for SUVs and...","0 NEW YORK: Automakers reported mixed US car sales in January, with strong demand for SUVs and p..."
2,transmission: automatic 2005 Toyota Camry LE 4 door 4 cyl AUTOMATIC VERY CLEAN INSIDE CLOTH IN...,transmission: automatic 2005 Toyota Camry LE 4 door 4 cyl AUTOMATIC VERY CLEAN INSIDE CLOTH IN...
3,favorite this post Brand New Toyota Avalon Floor Mats - $115 (New Britain) hide this posting unh...,favorite this post Brand New Toyota Avalon Floor Mats 115 New Britain hide this posting unhide ...
4,more ads by this user QR Code Link to This Post Black w/Piano Black w/Perforated NuLuxe Seat Tri...,more ads by this user QR Code Link to This Post Black wPiano Black wPerforated NuLuxe Seat Trim....

In [37]:
bloblist = []
del bloblist[:]

for i  in range(0,len(news_eng)):
    bloblist.append(TextBlob(news_eng['text_clean'].iloc[i]))
    
len(bloblist)

100

In [38]:
for i, blob in enumerate(bloblist):
# Print top 5 values
    if i == 5:
        break
    print("Top words in news article {}".format(i + 1))
    scores = {word: tfidf(word, blob, bloblist) for word in blob.words}
    sorted_words = sorted(scores.items(), key=lambda x: x[1], reverse=True)
    for word, score in sorted_words[:10]:
        print("\tWord: {}, TF-IDF: {}".format(word, round(score, 5)))

Top words in news article 1
	Word: receipts, TF-IDF: 0.21733
	Word: Cash, TF-IDF: 0.21733
	Word: 6477478013, TF-IDF: 0.21733
	Word: sale, TF-IDF: 0.19481
	Word: maintenance, TF-IDF: 0.17883
	Word: owner, TF-IDF: 0.17883
	Word: available, TF-IDF: 0.16643
	Word: trades, TF-IDF: 0.1563
	Word: truck, TF-IDF: 0.11779
	Word: Code, TF-IDF: 0.09844
Top words in news article 2
	Word: And, TF-IDF: 0.06643
	Word: In, TF-IDF: 0.05853
	Word: sales, TF-IDF: 0.04664
	Word: US, TF-IDF: 0.02365
	Word: The, TF-IDF: 0.02218
	Word: pickup, TF-IDF: 0.02214
	Word: saw, TF-IDF: 0.02117
	Word: strong, TF-IDF: 0.02106
	Word: percent, TF-IDF: 0.01984
	Word: overall, TF-IDF: 0.0195
Top words in news article 3
	Word: AUTOMATIC, TF-IDF: 0.18935
	Word: automatic, TF-IDF: 0.15643
	Word: Just, TF-IDF: 0.11506
	Word: 167300, TF-IDF: 0.11506
	Word: Little, TF-IDF: 0.11506
	Word: 6473894894, TF-IDF: 0.11506
	Word: LE, TF-IDF: 0.11506
	Word: cyl, TF-IDF: 0.11506
	Word: 2450, TF-IDF: 0.11506
	Word: Hale, TF-IDF: 0.11506
Top words in news article 4
	Word: mats, TF-IDF: 0.13336
	Word: Mats, TF-IDF: 0.13336
	Word: Floor, TF-IDF: 0.08891
	Word: floor, TF-IDF: 0.07969
	Word: Avalon, TF-IDF: 0.06394
	Word: Post, TF-IDF: 0.05846
	Word: original, TF-IDF: 0.0574
	Word: These, TF-IDF: 0.05233
	Word: post, TF-IDF: 0.04592
	Word: Brand, TF-IDF: 0.04445
Top words in news article 5
	Word: included, TF-IDF: 0.0788
	Word: Black, TF-IDF: 0.06732
	Word: Lexus, TF-IDF: 0.06177
	Word: below, TF-IDF: 0.05174
	Word: OneOwner, TF-IDF: 0.04396
	Word: synthetic, TF-IDF: 0.04396
	Word: Fair, TF-IDF: 0.04396
	Word: user, TF-IDF: 0.04396
	Word: Purchase, TF-IDF: 0.04396
	Word: 3121, TF-IDF: 0.04396

### Applying LDA to news articles

In [39]:
news_list = news_eng['text_clean'].tolist()
news_list[:1]

['QR Code Link to This Post All maintenance receipts available, one owner truck. Cash sale. No trades.   6477478013']

In [40]:
news_clean = [clean(doc).split() for doc in news_list]

In [41]:
len(news_clean)

100

In [42]:
print(*news_clean[:1], sep='\n\n')

['qr', 'code', 'link', 'post', 'maintenance', 'receipt', 'available', 'one', 'owner', 'truck', 'cash', 'sale', 'trade', '6477478013']

In [43]:
# Creating the term dictionary of our courpus, where every unique term is assigned an index. 

dictionary = corpora.Dictionary(news_clean)

# Converting list of documents (corpus) into Document Term Matrix using dictionary prepared above.

%time doc_term_matrix = [dictionary.doc2bow(doc) for doc in news_clean]

Wall time: 50 ms

#### 3 topic model

In [44]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel
numtopics = 3

# Running and Trainign LDA model on the document term matrix.
%time ldamodel = Lda(doc_term_matrix, num_topics=numtopics, id2word = dictionary, passes=50)

Wall time: 1min 4s

In [45]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=3), sep='\n\n')

(0, '0.017*"toyota" + 0.010*"vehicle" + 0.009*"car"')

(1, '0.010*"ford" + 0.008*"toyota" + 0.007*"sale"')

(2, '0.026*"percent" + 0.021*"u" + 0.012*"earnings"')

In [46]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=5), sep='\n\n')

(0, '0.017*"toyota" + 0.010*"vehicle" + 0.009*"car" + 0.007*"sale" + 0.007*"year"')

(1, '0.010*"ford" + 0.008*"toyota" + 0.007*"sale" + 0.006*"said" + 0.005*"company"')

(2, '0.026*"percent" + 0.021*"u" + 0.012*"earnings" + 0.012*"yield" + 0.011*"index"')

In [47]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=7), sep='\n\n')

(0, '0.017*"toyota" + 0.010*"vehicle" + 0.009*"car" + 0.007*"sale" + 0.007*"year" + 0.006*"new" + 0.006*"market"')

(1, '0.010*"ford" + 0.008*"toyota" + 0.007*"sale" + 0.006*"said" + 0.005*"company" + 0.005*"percent" + 0.004*"hydrogen"')

(2, '0.026*"percent" + 0.021*"u" + 0.012*"earnings" + 0.012*"yield" + 0.011*"index" + 0.009*"share" + 0.009*"lower"')

In [48]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=10), sep='\n\n')

(0, '0.017*"toyota" + 0.010*"vehicle" + 0.009*"car" + 0.007*"sale" + 0.007*"year" + 0.006*"new" + 0.006*"market" + 0.005*"unit" + 0.005*"january" + 0.004*"per"')

(1, '0.010*"ford" + 0.008*"toyota" + 0.007*"sale" + 0.006*"said" + 0.005*"company" + 0.005*"percent" + 0.004*"hydrogen" + 0.004*"2018" + 0.004*"vehicle" + 0.004*"year"')

(2, '0.026*"percent" + 0.021*"u" + 0.012*"earnings" + 0.012*"yield" + 0.011*"index" + 0.009*"share" + 0.009*"lower" + 0.009*"cent" + 0.009*"per" + 0.009*"investor"')

#### 5 topic model

In [49]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel
numtopics = 5

# Running and Trainign LDA model on the document term matrix.
%time ldamodel = Lda(doc_term_matrix, num_topics=numtopics, id2word = dictionary, passes=50)

Wall time: 1min 5s

In [50]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=3), sep='\n\n')

(0, '0.031*"percent" + 0.018*"sale" + 0.014*"toyota"')

(1, '0.014*"toyota" + 0.011*"ford" + 0.009*"car"')

(2, '0.009*"company" + 0.006*"toyota" + 0.006*"state"')

(3, '0.014*"toyota" + 0.008*"car" + 0.007*"post"')

(4, '0.023*"u" + 0.019*"percent" + 0.014*"earnings"')

In [51]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=5), sep='\n\n')

(0, '0.031*"percent" + 0.018*"sale" + 0.014*"toyota" + 0.012*"vehicle" + 0.010*"year"')

(1, '0.014*"toyota" + 0.011*"ford" + 0.009*"car" + 0.009*"market" + 0.009*"unit"')

(2, '0.009*"company" + 0.006*"toyota" + 0.006*"state" + 0.006*"workforce" + 0.005*"job"')

(3, '0.014*"toyota" + 0.008*"car" + 0.007*"post" + 0.007*"japan" + 0.006*"hydrogen"')

(4, '0.023*"u" + 0.019*"percent" + 0.014*"earnings" + 0.014*"yield" + 0.012*"index"')

In [52]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=7), sep='\n\n')

(0, '0.031*"percent" + 0.018*"sale" + 0.014*"toyota" + 0.012*"vehicle" + 0.010*"year" + 0.006*"january" + 0.006*"market"')

(1, '0.014*"toyota" + 0.011*"ford" + 0.009*"car" + 0.009*"market" + 0.009*"unit" + 0.007*"vehicle" + 0.007*"year"')

(2, '0.009*"company" + 0.006*"toyota" + 0.006*"state" + 0.006*"workforce" + 0.005*"job" + 0.005*"law" + 0.005*"alabama"')

(3, '0.014*"toyota" + 0.008*"car" + 0.007*"post" + 0.007*"japan" + 0.006*"hydrogen" + 0.006*"new" + 0.005*"australia"')

(4, '0.023*"u" + 0.019*"percent" + 0.014*"earnings" + 0.014*"yield" + 0.012*"index" + 0.011*"share" + 0.010*"cent"')

In [53]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=10), sep='\n\n')

(0, '0.031*"percent" + 0.018*"sale" + 0.014*"toyota" + 0.012*"vehicle" + 0.010*"year" + 0.006*"january" + 0.006*"market" + 0.004*"1" + 0.004*"said" + 0.004*"u"')

(1, '0.014*"toyota" + 0.011*"ford" + 0.009*"car" + 0.009*"market" + 0.009*"unit" + 0.007*"vehicle" + 0.007*"year" + 0.007*"january" + 0.006*"per" + 0.006*"2018"')

(2, '0.009*"company" + 0.006*"toyota" + 0.006*"state" + 0.006*"workforce" + 0.005*"job" + 0.005*"law" + 0.005*"alabama" + 0.005*"said" + 0.005*"ball" + 0.004*"player"')

(3, '0.014*"toyota" + 0.008*"car" + 0.007*"post" + 0.007*"japan" + 0.006*"hydrogen" + 0.006*"new" + 0.005*"australia" + 0.005*"contact" + 0.005*"also" + 0.004*"offer"')

(4, '0.023*"u" + 0.019*"percent" + 0.014*"earnings" + 0.014*"yield" + 0.012*"index" + 0.011*"share" + 0.010*"cent" + 0.010*"lower" + 0.010*"investor" + 0.010*"per"')

In [54]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=10), sep='\n\n')

(0, '0.031*"percent" + 0.018*"sale" + 0.014*"toyota" + 0.012*"vehicle" + 0.010*"year" + 0.006*"january" + 0.006*"market" + 0.004*"1" + 0.004*"said" + 0.004*"u"')

(1, '0.014*"toyota" + 0.011*"ford" + 0.009*"car" + 0.009*"market" + 0.009*"unit" + 0.007*"vehicle" + 0.007*"year" + 0.007*"january" + 0.006*"per" + 0.006*"2018"')

(2, '0.009*"company" + 0.006*"toyota" + 0.006*"state" + 0.006*"workforce" + 0.005*"job" + 0.005*"law" + 0.005*"alabama" + 0.005*"said" + 0.005*"ball" + 0.004*"player"')

(3, '0.014*"toyota" + 0.008*"car" + 0.007*"post" + 0.007*"japan" + 0.006*"hydrogen" + 0.006*"new" + 0.005*"australia" + 0.005*"contact" + 0.005*"also" + 0.004*"offer"')

(4, '0.023*"u" + 0.019*"percent" + 0.014*"earnings" + 0.014*"yield" + 0.012*"index" + 0.011*"share" + 0.010*"cent" + 0.010*"lower" + 0.010*"investor" + 0.010*"per"')

#### 10 topic model

In [55]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel
numtopics = 10

# Running and Trainign LDA model on the document term matrix.
%time ldamodel = Lda(doc_term_matrix, num_topics=numtopics, id2word = dictionary, passes=50)

Wall time: 1min 9s

In [56]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=3), sep='\n\n')

(0, '0.013*"toyota" + 0.009*"air" + 0.008*"bag"')

(1, '0.046*"percent" + 0.018*"sale" + 0.011*"year"')

(2, '0.030*"unit" + 0.023*"market" + 0.018*"january"')

(3, '0.018*"toyota" + 0.017*"car" + 0.013*"vehicle"')

(4, '0.008*"post" + 0.008*"toyota" + 0.006*"lexus"')

(5, '0.014*"hydrogen" + 0.011*"company" + 0.011*"australia"')

(6, '0.020*"ford" + 0.018*"toyota" + 0.011*"japan"')

(7, '0.013*"car" + 0.012*"toyota" + 0.009*"post"')

(8, '0.013*"per" + 0.013*"cent" + 0.010*"toyota"')

(9, '0.026*"u" + 0.018*"percent" + 0.015*"earnings"')

In [57]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=5), sep='\n\n')

(0, '0.013*"toyota" + 0.009*"air" + 0.008*"bag" + 0.008*"year" + 0.007*"commercial"')

(1, '0.046*"percent" + 0.018*"sale" + 0.011*"year" + 0.010*"january" + 0.009*"market"')

(2, '0.030*"unit" + 0.023*"market" + 0.018*"january" + 0.017*"toyota" + 0.014*"vehicle"')

(3, '0.018*"toyota" + 0.017*"car" + 0.013*"vehicle" + 0.009*"2018" + 0.007*"release"')

(4, '0.008*"post" + 0.008*"toyota" + 0.006*"lexus" + 0.005*"contact" + 0.005*"lx"')

(5, '0.014*"hydrogen" + 0.011*"company" + 0.011*"australia" + 0.010*"state" + 0.010*"workforce"')

(6, '0.020*"ford" + 0.018*"toyota" + 0.011*"japan" + 0.010*"vehicle" + 0.007*"margin"')

(7, '0.013*"car" + 0.012*"toyota" + 0.009*"post" + 0.007*"d" + 0.007*"contact"')

(8, '0.013*"per" + 0.013*"cent" + 0.010*"toyota" + 0.009*"law" + 0.008*"ball"')

(9, '0.026*"u" + 0.018*"percent" + 0.015*"earnings" + 0.015*"yield" + 0.012*"index"')

In [58]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=7), sep='\n\n')

(0, '0.013*"toyota" + 0.009*"air" + 0.008*"bag" + 0.008*"year" + 0.007*"commercial" + 0.007*"lexus" + 0.006*"could"')

(1, '0.046*"percent" + 0.018*"sale" + 0.011*"year" + 0.010*"january" + 0.009*"market" + 0.007*"increase" + 0.007*"said"')

(2, '0.030*"unit" + 0.023*"market" + 0.018*"january" + 0.017*"toyota" + 0.014*"vehicle" + 0.013*"new" + 0.012*"2018"')

(3, '0.018*"toyota" + 0.017*"car" + 0.013*"vehicle" + 0.009*"2018" + 0.007*"release" + 0.007*"review" + 0.007*"news"')

(4, '0.008*"post" + 0.008*"toyota" + 0.006*"lexus" + 0.005*"contact" + 0.005*"lx" + 0.003*"qr" + 0.003*"code"')

(5, '0.014*"hydrogen" + 0.011*"company" + 0.011*"australia" + 0.010*"state" + 0.010*"workforce" + 0.010*"job" + 0.010*"alabama"')

(6, '0.020*"ford" + 0.018*"toyota" + 0.011*"japan" + 0.010*"vehicle" + 0.007*"margin" + 0.007*"one" + 0.007*"year"')

(7, '0.013*"car" + 0.012*"toyota" + 0.009*"post" + 0.007*"d" + 0.007*"contact" + 0.007*"new" + 0.006*"offer"')

(8, '0.013*"per" + 0.013*"cent" + 0.010*"toyota" + 0.009*"law" + 0.008*"ball" + 0.008*"sale" + 0.008*"car"')

(9, '0.026*"u" + 0.018*"percent" + 0.015*"earnings" + 0.015*"yield" + 0.012*"index" + 0.012*"share" + 0.011*"cent"')

In [59]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=10), sep='\n\n')

(0, '0.013*"toyota" + 0.009*"air" + 0.008*"bag" + 0.008*"year" + 0.007*"commercial" + 0.007*"lexus" + 0.006*"could" + 0.005*"game" + 0.005*"owner" + 0.005*"motor"')

(1, '0.046*"percent" + 0.018*"sale" + 0.011*"year" + 0.010*"january" + 0.009*"market" + 0.007*"increase" + 0.007*"said" + 0.006*"u" + 0.006*"month" + 0.006*"export"')

(2, '0.030*"unit" + 0.023*"market" + 0.018*"january" + 0.017*"toyota" + 0.014*"vehicle" + 0.013*"new" + 0.012*"2018" + 0.011*"per" + 0.011*"cent" + 0.011*"share"')

(3, '0.018*"toyota" + 0.017*"car" + 0.013*"vehicle" + 0.009*"2018" + 0.007*"release" + 0.007*"review" + 0.007*"news" + 0.007*"sale" + 0.006*"electrified" + 0.006*"company"')

(4, '0.008*"post" + 0.008*"toyota" + 0.006*"lexus" + 0.005*"contact" + 0.005*"lx" + 0.003*"qr" + 0.003*"code" + 0.003*"link" + 0.003*"truck" + 0.003*"service"')

(5, '0.014*"hydrogen" + 0.011*"company" + 0.011*"australia" + 0.010*"state" + 0.010*"workforce" + 0.010*"job" + 0.010*"alabama" + 0.009*"said" + 0.007*"industry" + 0.006*"need"')

(6, '0.020*"ford" + 0.018*"toyota" + 0.011*"japan" + 0.010*"vehicle" + 0.007*"margin" + 0.007*"one" + 0.007*"year" + 0.006*"commodity" + 0.006*"canada" + 0.005*"said"')

(7, '0.013*"car" + 0.012*"toyota" + 0.009*"post" + 0.007*"d" + 0.007*"contact" + 0.007*"new" + 0.006*"offer" + 0.005*"service" + 0.005*"id" + 0.005*"unsolicited"')

(8, '0.013*"per" + 0.013*"cent" + 0.010*"toyota" + 0.009*"law" + 0.008*"ball" + 0.008*"sale" + 0.008*"car" + 0.008*"player" + 0.006*"man" + 0.006*"f1"')

(9, '0.026*"u" + 0.018*"percent" + 0.015*"earnings" + 0.015*"yield" + 0.012*"index" + 0.012*"share" + 0.011*"cent" + 0.011*"investor" + 0.011*"per" + 0.011*"benchmark"')

In [60]:
print(*ldamodel.print_topics(num_topics=numtopics, num_words=10), sep='\n\n')

(0, '0.013*"toyota" + 0.009*"air" + 0.008*"bag" + 0.008*"year" + 0.007*"commercial" + 0.007*"lexus" + 0.006*"could" + 0.005*"game" + 0.005*"owner" + 0.005*"motor"')

(1, '0.046*"percent" + 0.018*"sale" + 0.011*"year" + 0.010*"january" + 0.009*"market" + 0.007*"increase" + 0.007*"said" + 0.006*"u" + 0.006*"month" + 0.006*"export"')

(2, '0.030*"unit" + 0.023*"market" + 0.018*"january" + 0.017*"toyota" + 0.014*"vehicle" + 0.013*"new" + 0.012*"2018" + 0.011*"per" + 0.011*"cent" + 0.011*"share"')

(3, '0.018*"toyota" + 0.017*"car" + 0.013*"vehicle" + 0.009*"2018" + 0.007*"release" + 0.007*"review" + 0.007*"news" + 0.007*"sale" + 0.006*"electrified" + 0.006*"company"')

(4, '0.008*"post" + 0.008*"toyota" + 0.006*"lexus" + 0.005*"contact" + 0.005*"lx" + 0.003*"qr" + 0.003*"code" + 0.003*"link" + 0.003*"truck" + 0.003*"service"')

(5, '0.014*"hydrogen" + 0.011*"company" + 0.011*"australia" + 0.010*"state" + 0.010*"workforce" + 0.010*"job" + 0.010*"alabama" + 0.009*"said" + 0.007*"industry" + 0.006*"need"')

(6, '0.020*"ford" + 0.018*"toyota" + 0.011*"japan" + 0.010*"vehicle" + 0.007*"margin" + 0.007*"one" + 0.007*"year" + 0.006*"commodity" + 0.006*"canada" + 0.005*"said"')

(7, '0.013*"car" + 0.012*"toyota" + 0.009*"post" + 0.007*"d" + 0.007*"contact" + 0.007*"new" + 0.006*"offer" + 0.005*"service" + 0.005*"id" + 0.005*"unsolicited"')

(8, '0.013*"per" + 0.013*"cent" + 0.010*"toyota" + 0.009*"law" + 0.008*"ball" + 0.008*"sale" + 0.008*"car" + 0.008*"player" + 0.006*"man" + 0.006*"f1"')

(9, '0.026*"u" + 0.018*"percent" + 0.015*"earnings" + 0.015*"yield" + 0.012*"index" + 0.012*"share" + 0.011*"cent" + 0.011*"investor" + 0.011*"per" + 0.011*"benchmark"')